  <div class="body_sign">
<div class="content">
  <%= link_to (image_tag"off2.png"), root_path, class: "back_log" %>
  <span class="icon-coeur_full1"></span>
  <h2 class="title_log"><%=t'sign_up.title'%></h2>
  <!--Echo out errors here. See example-->
  <!--<p class=error>Error, wrong username or password used. Please, try again.-->
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="mat-in_edit">
      <%= f.label t('sign_up.firstname') %><br />
      <%= f.text_field :firstname %>
    </div>

    <div class="mat-in_edit">
      <%= f.label t('sign_up.lastname') %><br />
      <%= f.text_field :lastname %>
    </div>

    <div class="mat-in_edit">
      <%= f.label t('sign_up.email') %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="mat-in_edit">
      <%= f.label t('sign_up.password') %>
      </br>
      <% if @minimum_password_length %>
      <em class="sign_up_em">(<%= @minimum_password_length %> <%= t'sign_up.password_under'%>)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

      <div class="mat-in_edit">
        <%= f.label t('sign_up.password_confirm') %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="mat-in_edit">
      <%= f.label t('sign_up.avatar') %>
      </br>
      </br>
      <%= f.file_field :avatar %>
      </div>
      <div class="mat-in_edit">
      <div class="rules"><%= t'sign_up.rules'%></div>
      <%= f.submit t('sign_up.title'), class:"log" %>
      <div class='log2'><%= t"sign_up.log1"%> <%= link_to t('link.sign_in'), new_session_path(resource_name), class: "link_log" %></div>
      <% end %>
      </div>
</div>
  <div class="bg-boxes">
<svg viewbox="0 0 1000 6500" width="5%" height="100%" id="col1"  >
<path d="M965.29 242.803l-119.634-119.63h-184.762l-158.513 128.924-148.095-129.055-214.952 17.369-115.286 139.215v197.321l111.958 139.946 5.313 5.042c0.078 0.076 0.135 0.162 0.219 0.225 0.010 0.012 0.016 0.020 0.027 0.031l0.115 0.088 161.274 153.055 199.309 186.311 412.848-378.452c0.043-0.039 0.070-0.094 0.111-0.135 0.305-0.299 0.553-0.664 0.756-1.065 0.039-0.074 0.106-0.125 0.139-0.199 0.006-0.012 0.006-0.020 0.008-0.035 0.008-0.016 0.016-0.025 0.023-0.035l0.362-0.852 83.448-138.75-34.666-199.32zM939.637 526.051l25.612-60.686c0.096-0.221 0.086-0.465 0.141-0.696l18.412-12.225-44.165 73.607zM714.844 755.194l54.669-94.251 114.997-61.282-169.667 155.533zM548.977 907.239l98.419-116.361 35.838-6.713-134.257 123.075zM308.808 769.114l-101.409-96.209 121.934 93.936 106.357 96.426 42.838 64.5-169.72-158.652zM32.586 295.899l56.746 89.692-56.746 76.88v-166.572zM335.747 133.108c-29.164 18.184-65.421 40.315-72.475 43.274-9.361-2.857-66.488-19.862-98.695-29.442l171.17-13.832zM834.603 131.711l-11.653 13.599-98.425-13.599h110.078zM334.361 753.732l-86.913-390.078 326.431 72.884-239.518 317.194zM578.773 444.226l59.273 338.418-297.728-22.637 238.455-315.781zM588.755 451.711l171.575 206.006-114.391 120.51-57.184-326.517zM823.472 157.821l130.32 300.182-364.718-26.71 234.398-273.471zM957.045 444.041l-122.466-282.096 122.466 85.154v196.942zM590.191 416.862l75.385-284.674 150.766 20.83-226.15 263.844zM256.526 356.932l243.519-93.815 73.855 164.674-317.374-70.859zM246.903 351.488l19.882-165.022 222.679 71.578-242.561 93.444zM239.358 342.751l-89.967-191.42c37.511 11.155 94.769 28.201 109.109 32.524l-19.143 158.896zM96.559 381.045l-57.983-91.65 187.042 67.336-129.059 24.314zM235.162 363.622l-89.866 239.995-45.707-214.452 135.574-25.543zM240.773 372.984l84.693 380.119-176.196-135.748 91.503-244.371zM622.887 790.057l-182.962 65.52-95.65-86.702 278.612 21.182zM631.992 795.865l-129.292 152.863-57.174-86.086 186.466-66.777zM744.851 686.434l-50.434 86.946-39.043 7.318 89.477-94.263zM767.123 652.534l-173.867-208.757 309.197 136.645-135.33 72.112zM608.776 441.299l346.644 25.387-45.455 107.715-301.189-133.102zM830.99 149.053l13.14-15.329 80.298 80.298-93.438-64.969zM580.239 421.063l-72.714-162.142 147.401-119.884-74.686 282.026zM274.598 180.005c11.276-6.097 33.374-19.296 77.826-47.258l131.408 114.514-209.234-67.256zM140.47 152.426l93.1 198.089-198.091-71.311 104.991-126.777zM33.7 475.345l58.601-79.397 44.354 208.085-102.955-128.688zM965.585 454.287v-159.945l24.938 143.387-24.938 16.558z" fill="#fff"/>
</svg>

<svg viewbox="0 0 1000 6500" width="20%" height="100%" id="col2"  >
<path d="M965.29 242.803l-119.634-119.63h-184.762l-158.513 128.924-148.095-129.055-214.952 17.369-115.286 139.215v197.321l111.958 139.946 5.313 5.042c0.078 0.076 0.135 0.162 0.219 0.225 0.010 0.012 0.016 0.020 0.027 0.031l0.115 0.088 161.274 153.055 199.309 186.311 412.848-378.452c0.043-0.039 0.070-0.094 0.111-0.135 0.305-0.299 0.553-0.664 0.756-1.065 0.039-0.074 0.106-0.125 0.139-0.199 0.006-0.012 0.006-0.020 0.008-0.035 0.008-0.016 0.016-0.025 0.023-0.035l0.362-0.852 83.448-138.75-34.666-199.32zM939.637 526.051l25.612-60.686c0.096-0.221 0.086-0.465 0.141-0.696l18.412-12.225-44.165 73.607zM714.844 755.194l54.669-94.251 114.997-61.282-169.667 155.533zM548.977 907.239l98.419-116.361 35.838-6.713-134.257 123.075zM308.808 769.114l-101.409-96.209 121.934 93.936 106.357 96.426 42.838 64.5-169.72-158.652zM32.586 295.899l56.746 89.692-56.746 76.88v-166.572zM335.747 133.108c-29.164 18.184-65.421 40.315-72.475 43.274-9.361-2.857-66.488-19.862-98.695-29.442l171.17-13.832zM834.603 131.711l-11.653 13.599-98.425-13.599h110.078zM334.361 753.732l-86.913-390.078 326.431 72.884-239.518 317.194zM578.773 444.226l59.273 338.418-297.728-22.637 238.455-315.781zM588.755 451.711l171.575 206.006-114.391 120.51-57.184-326.517zM823.472 157.821l130.32 300.182-364.718-26.71 234.398-273.471zM957.045 444.041l-122.466-282.096 122.466 85.154v196.942zM590.191 416.862l75.385-284.674 150.766 20.83-226.15 263.844zM256.526 356.932l243.519-93.815 73.855 164.674-317.374-70.859zM246.903 351.488l19.882-165.022 222.679 71.578-242.561 93.444zM239.358 342.751l-89.967-191.42c37.511 11.155 94.769 28.201 109.109 32.524l-19.143 158.896zM96.559 381.045l-57.983-91.65 187.042 67.336-129.059 24.314zM235.162 363.622l-89.866 239.995-45.707-214.452 135.574-25.543zM240.773 372.984l84.693 380.119-176.196-135.748 91.503-244.371zM622.887 790.057l-182.962 65.52-95.65-86.702 278.612 21.182zM631.992 795.865l-129.292 152.863-57.174-86.086 186.466-66.777zM744.851 686.434l-50.434 86.946-39.043 7.318 89.477-94.263zM767.123 652.534l-173.867-208.757 309.197 136.645-135.33 72.112zM608.776 441.299l346.644 25.387-45.455 107.715-301.189-133.102zM830.99 149.053l13.14-15.329 80.298 80.298-93.438-64.969zM580.239 421.063l-72.714-162.142 147.401-119.884-74.686 282.026zM274.598 180.005c11.276-6.097 33.374-19.296 77.826-47.258l131.408 114.514-209.234-67.256zM140.47 152.426l93.1 198.089-198.091-71.311 104.991-126.777zM33.7 475.345l58.601-79.397 44.354 208.085-102.955-128.688zM965.585 454.287v-159.945l24.938 143.387-24.938 16.558z" fill="#4f4f4F"/>
</svg>

<svg width="260px" height="100%" id="col3">
  <path d="M17,0c-1.9,0-3.7,0.8-5,2.1C10.7,0.8,8.9,0,7,0C3.1,0,0,3.1,0,7c0,6.4,10.9,15.4,11.4,15.8 c0.2,0.2,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2C13.1,22.4,24,13.4,24,7C24,3.1,20.9,0,17,0z" />
</svg>
<svg width="160px" height="100%" id="col4">
  <path d="M100 34.976c0 8.434-3.635 16.019-9.423 21.274h0.048l-31.25 31.25c-3.125 3.125-6.25 6.25-9.375 6.25s-6.25-3.125-9.375-6.25l-31.202-31.25c-5.788-5.255-9.423-12.84-9.423-21.274 0-15.865 12.861-28.726 28.726-28.726 8.434 0 16.019 3.635 21.274 9.423 5.255-5.788 12.84-9.423 21.274-9.423 15.865 0 28.726 12.861 28.726 28.726z" fill="crimson" />
</svg>
<svg width="240px" height="100%" id="col5">
  <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
  c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" />
</svg>
<svg viewbox="0 0 1000 6500" width="10%" height="100%" id="col6" >
<path d="M965.29 242.803l-119.634-119.63h-184.762l-158.513 128.924-148.095-129.055-214.952 17.369-115.286 139.215v197.321l111.958 139.946 5.313 5.042c0.078 0.076 0.135 0.162 0.219 0.225 0.010 0.012 0.016 0.020 0.027 0.031l0.115 0.088 161.274 153.055 199.309 186.311 412.848-378.452c0.043-0.039 0.070-0.094 0.111-0.135 0.305-0.299 0.553-0.664 0.756-1.065 0.039-0.074 0.106-0.125 0.139-0.199 0.006-0.012 0.006-0.020 0.008-0.035 0.008-0.016 0.016-0.025 0.023-0.035l0.362-0.852 83.448-138.75-34.666-199.32zM939.637 526.051l25.612-60.686c0.096-0.221 0.086-0.465 0.141-0.696l18.412-12.225-44.165 73.607zM714.844 755.194l54.669-94.251 114.997-61.282-169.667 155.533zM548.977 907.239l98.419-116.361 35.838-6.713-134.257 123.075zM308.808 769.114l-101.409-96.209 121.934 93.936 106.357 96.426 42.838 64.5-169.72-158.652zM32.586 295.899l56.746 89.692-56.746 76.88v-166.572zM335.747 133.108c-29.164 18.184-65.421 40.315-72.475 43.274-9.361-2.857-66.488-19.862-98.695-29.442l171.17-13.832zM834.603 131.711l-11.653 13.599-98.425-13.599h110.078zM334.361 753.732l-86.913-390.078 326.431 72.884-239.518 317.194zM578.773 444.226l59.273 338.418-297.728-22.637 238.455-315.781zM588.755 451.711l171.575 206.006-114.391 120.51-57.184-326.517zM823.472 157.821l130.32 300.182-364.718-26.71 234.398-273.471zM957.045 444.041l-122.466-282.096 122.466 85.154v196.942zM590.191 416.862l75.385-284.674 150.766 20.83-226.15 263.844zM256.526 356.932l243.519-93.815 73.855 164.674-317.374-70.859zM246.903 351.488l19.882-165.022 222.679 71.578-242.561 93.444zM239.358 342.751l-89.967-191.42c37.511 11.155 94.769 28.201 109.109 32.524l-19.143 158.896zM96.559 381.045l-57.983-91.65 187.042 67.336-129.059 24.314zM235.162 363.622l-89.866 239.995-45.707-214.452 135.574-25.543zM240.773 372.984l84.693 380.119-176.196-135.748 91.503-244.371zM622.887 790.057l-182.962 65.52-95.65-86.702 278.612 21.182zM631.992 795.865l-129.292 152.863-57.174-86.086 186.466-66.777zM744.851 686.434l-50.434 86.946-39.043 7.318 89.477-94.263zM767.123 652.534l-173.867-208.757 309.197 136.645-135.33 72.112zM608.776 441.299l346.644 25.387-45.455 107.715-301.189-133.102zM830.99 149.053l13.14-15.329 80.298 80.298-93.438-64.969zM580.239 421.063l-72.714-162.142 147.401-119.884-74.686 282.026zM274.598 180.005c11.276-6.097 33.374-19.296 77.826-47.258l131.408 114.514-209.234-67.256zM140.47 152.426l93.1 198.089-198.091-71.311 104.991-126.777zM33.7 475.345l58.601-79.397 44.354 208.085-102.955-128.688zM965.585 454.287v-159.945l24.938 143.387-24.938 16.558z" fill="#fff"/>
</svg>
<svg width="200px" height="100%" id="col7">
  <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
  c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" />
</svg>
<svg width="200px" height="100%" id="col8">
  <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
  c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" />
</svg>
<svg width="200px" height="100%" id="col9">
  <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
  c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" />
</svg>
<svg width="200px" height="100%" id="col10">
  <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
  c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" />
</svg>
<svg width="100px" height="100%" id="col11">
  <path d="M100 34.976c0 8.434-3.635 16.019-9.423 21.274h0.048l-31.25 31.25c-3.125 3.125-6.25 6.25-9.375 6.25s-6.25-3.125-9.375-6.25l-31.202-31.25c-5.788-5.255-9.423-12.84-9.423-21.274 0-15.865 12.861-28.726 28.726-28.726 8.434 0 16.019 3.635 21.274 9.423 5.255-5.788 12.84-9.423 21.274-9.423 15.865 0 28.726 12.861 28.726 28.726z" fill="#fff" />
</svg>
  </div>
</div>
