

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="page-scroll navbar-header" href="#page-top"><span class="icon-coeur_full"></span></a>
                <a class="navbar-brand page-scroll title_logo" href="#page-top"><%= t "pages.home.header.title"%></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#features"><%= t "pages.home.header.navbar.feature" %></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download"><%= t "pages.home.header.navbar.download" %></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#hopen_box"><%= t "pages.home.header.navbar.hopen_box" %></a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <% if user_signed_in? %>
                    <%= link_to edit_user_registration_path do %>
                    <%= image_tag current_user.avatar.url(:medium), class: " page-scroll img_avatar" %>
                    <% end %>
                    <li><%= link_to t('pages.home.header.navbar.sign_out'), destroy_user_session_path, method: :delete, class:"page-scroll" %></li>
                    <% else %>
                    <li><%= link_to t('pages.home.header.navbar.sign_in'), new_user_session_path, class: "active" %></li>
                    <% end %>

                    <% if I18n.locale == :fr %>
                    <li><%= link_to_unless_current image_tag('flag5.png'), locale: "en"%></li>
                    <% end %>
                    <% if I18n.locale == :en %>
                    <li><%= link_to_unless_current image_tag('flag6.png'), locale: "fr", class:"fr" %></li>
                    <% end %>


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
        <%= render 'layouts/alerts' %>
    </nav>

    <header>
      <%= image_tag"test3.png",class:"img-responsive_hand"%>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                          <h1>Hopen Family</h1>
                            <h2><%= t "pages.home.header.description_1" %><br>
                              <%= t "pages.home.header.description_2" %></h2>
                              <br>
                            <a href="#download" class="btn btn-outline btn-xl page-scroll"><%= t "pages.home.header.button"%></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <!-- size 458x923 -->
                                    <% if I18n.locale == :fr %>
                                    <%= image_tag"test8.png",class:"img-responsive"%>
                                    <% end %>
                                    <% if I18n.locale == :en %>
                                    <%= image_tag"test7.png",class:"img-responsive"%>
                                    <% end %>
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2><%= t "features.title" %></h2>
                        <p class="text-muted"><%= t "features.title_under_1"%><br><%= t "features.title_under_2"%></p>
                        <hr>

                    </div>
                </div>
            </div>
          </div>

              <div class='principal'>
                <div class="element">
                  <!--<h3><%= t "features.title_1"%></h3>
                  <p class="text-muted"><%= t "features.description_1"%></p>-->
                  <div class="screen">
                    <% if I18n.locale == :fr %>
                    <%= image_tag "papy.png"%>
                    <% end %>
                    <% if I18n.locale == :en %>
                    <%= image_tag "mamy.png"%>
                    <% end %>
                  </div>
                </div>

                <div class="element">
                  <!-- <h3><%= t "features.title_2"%></h3>
                  <p class="text-muted"><%= t "features.description_2"%></p>-->
                  <div class="screen">
                    <% if I18n.locale == :fr %>
                    <%= image_tag "papa.png"%>
                    <% end %>
                    <% if I18n.locale == :en %>
                    <%= image_tag "dad.png"%>
                    <% end %>
                  </div>
                </div>

                <div class="element">
                  <!--<h3><%= t "features.title_3"%></h3>
                  <p class="text-muted"><%= t "features.description_3"%></p>-->
                  <div class="screen">
                    <% if I18n.locale == :fr %>
                    <%= image_tag "jeunes.png"%>
                    <% end %>
                    <% if I18n.locale == :en %>
                    <%= image_tag "kids.png"%>
                    <% end %>
                </div>
            </div>
          </div>
    </section>

    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading"><%= t "download.title"%></h2>
                    <p><%= t "download.title_under"%></p>
                    <div class="badges">
                      <%= image_tag "app-store.jpg", class:'img_download' %>
                      <%= image_tag "google.jpg", class:'img_download'%>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="hopen_box">
      <h2 class="title_hopen"><%= t"hopen_box.title" %></h2>
      <div class='principal'>
        <div class="element">
          <div class="screen">
            <%= image_tag "family2.png"%>
          </div>
          <h3><%= t "hopen_box.title_1"%></h3>
          <p><%= t "hopen_box.description_1"%></p>
        </div>

        <div class="element">
          <div class="screen">
            <%= image_tag "hopen.png"%>
          </div>
          <h3><%= t "hopen_box.title_2"%></h3>
          <p><%= t "hopen_box.description_2"%></p>
        </div>

        <div class="element">
          <div class="screen">
            <%= image_tag "family1.png"%>
          </div>
          <h3><%= t "hopen_box.title_3"%></h3>
          <p><%= t "hopen_box.description_3"%><br>
            <%= t "hopen_box.description_4"%><br>
            <%= t "hopen_box.description_5"%>
          </p>
        </div>
    </div>
    </section>

    <section class="section_contact" id="contact" class="contact bg-primary">
        <div class="container">
          <div class="principal_contact">
            <div class="About">
              <h2 class="text_friends_title"><%= t "contact.about" %></h2>
              <p class="text-muted_frineds"><%= t "contact.about_description"%></p>
            </div>
            <hr>
            <div class="friends">
              <!--80X80-->
              <h2 class="text_friends_title"><%= t "contact.love1"%><span class="icon-coeur_full4"></span> <%= t "contact.love2"%></h2>
              <ul class="list-inline list-social">
                  <li>
                    <!--80X80-->
                    <%= image_tag "face.png", class:"fa fa-twitter" %>
                  </li>
                  <li>
                      <%= image_tag "twitter.png", class:"fa fa-twitter" %>
                  </li>
                  <li>
                      <%= image_tag "linkedin.png", class:"fa fa-twitter" %>
                  </li>
              </ul>
            </div>
          </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <ul class="list-inline">
                <li>
                    <%= link_to t("footer.privacy"), pages_mention_path, class: "link_back" %>
                </li>
                <li>
                    <%= mail_to "nelly@hopenproject.com", class:"link_back" do %>
                    <%=t"footer.contact", class:"back_link"%>
                    <% end %>
                    <%= link_to "Team", pages_team_path, class: "link_back" %>
                </li>
            </ul>
            <p>&copy; <%= t "footer.copy" %></p>
        </div>
    </footer>
</body>
