<div class="body_sign">
<div class="content_mention">
  <%= link_to t('sign_in.back'), root_path, class: "link_back" %>
  <h1><%= t('mention.title') %></h1>
  <h2 class='title_mention'><%= t('mention.title_1') %></h2>
  <p><%= t('mention.description_1') %><br>
    <%= t('mention.description_2') %>
  </p>
  <h2 class='title_mention'><%= t('mention.title_2') %></h2>
  <p><%= t('mention.description_3') %></p>
  <h2 class='title_mention'><%= t('mention.title_3') %></h2>
  <p><%= t('mention.description_4') %>
  <h2 class='title_mention'><%= t('mention.title_4') %></h2>
  <p><%= t('mention.description_5') %></p>
  <h2 class='title_mention'><%= t('mention.title_5') %></h2>
  <p><%= t('mention.description_6') %><br><%= t('mention.description_7')%></p>
  <h2 class='title_mention'><%= t('mention.title_6') %></h2>
  <p><%= t('mention.description_8') %></p>
  <h2 class='title_mention'><%= t('mention.title_7') %></h2>
  <p><%= t('mention.description_9') %></p>
  <h2 class='title_mention'><%= t('mention.title_8') %></h2>
  <p><%= t('mention.description_10') %></p>
  <h2 class='title_mention'><%= t('mention.title_9') %></h2>
  <p><%= t('mention.description_11') %></p>
  <h2 class='title_mention'><%= t('mention.title_10') %></h2>
  <p><%= t('mention.description_12') %></p>
</div>

<div class="bg-boxes">
      <svg width="300px" height="100%" id="col1">
    <rect width="150px" height="150px" x="75px" y="75px" class="bubble" id="bub1" />
  </svg>
  <svg width="200px" height="100%" id="col2">
    <rect width="100px" height="100px" x="50px" y="50px" class="bubble" id="bub2" />
  </svg>
  <svg width="260px" height="100%" id="col3">
      <rect width="130px" height="130px" x="65px" y="65px" class="bubble" id="bub3" />
  </svg>
  <svg width="160px" height="100%" id="col4">
      <rect width="80px" height="80px" x="40px" y="40px" class="bubble" id="bub4" />
  </svg>
  <svg width="240px" height="100%" id="col5">
      <rect width="120px" height="120px" x="60px" y="60px" class="bubble" id="bub5" />
  </svg>
  <!--Here is a triangle-->
  <svg width="200px" height="100%" id="col6">
      <polygon points="50,150 100,50 150,150" class="bubble" id="bub6" />
  </svg>
  <svg width="200px" height="100%" id="col7">
      <rect width="100px" height="100px" x="50px" y="50px" class="bubble" id="bub7" />
  </svg>
  <svg width="200px" height="100%" id="col8">
      <rect width="100px" height="100px" x="50px" y="50px" class="bubble" id="bub8" />
  </svg>
  <svg width="200px" height="100%" id="col9">
      <rect width="100px" height="100px" x="50px" y="50px" class="bubble" id="bub9" />
  </svg>
  <svg width="200px" height="100%" id="col10">
      <rect width="100px" height="100px" x="50px" y="50px" class="bubble" id="bub10" />
  </svg>
  <svg width="100px" height="100%" id="col11">
      <rect width="50px" height="50px" x="25px" y="25px" class="bubble" id="bub11" />
  </svg>
</div>
</div>
