<div class="body_sign_team">
  <%= link_to root_path do %>
  <span class="icon-cancel-circle"></span>
  <%end%>
  <h1 class="title_team">The Team</h1>
  <p class='text_team'><%= t "team.description_1"%><br><%= t "team.description_2"%></p>

    <div class="principal_team">
      <div class="element_team">
        <%= image_tag'girl.png', class:'img_team'%>
        <h1 class="title_team">Nelly</h1>
        <p class='text_team'>CEO</p>
      </div>

      <div class="element_team">
        <%= image_tag'boy.png', class:'img_team'%>
        <h1 class="title_team">Yoan</h1>
        <p class='text_team'>CFO</p>
      </div>

      <div class="element_team">
        <%= image_tag'boy.png', class:'img_team'%>
        <h1 class="title_team">Pierre</h1>
        <p class='text_team'>CTO</p>
      </div>

      <div class="element_team">
        <%= image_tag'boy.png', class:'img_team'%>
        <h1 class="title_team">Florian</h1>
        <p class='text_team'>Full Stack Developer</p>
      </div>
    </div>
</div>
